 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Our locally owned buildings are convenient to the University of Minnesota, Bethel University, North Memorial Medical Center in Robbinsdale, N Minneapolis, and Crystal, and provide easy bus-line access to downtown Minneapolis.</p>
                </div>
                <div class="col-lg-4">
                    <p>We offer value: small buildings with updated and remodeled apartment homes and an emphasis on cleanliness, prompt maintenance and on-site building managers.</p>
                </div>
            </div>
        </div>
    </section>
