 <!-- apply Section -->
    <section class="success" id="residents">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Current residents/Repair requests</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>If you would like to pay your rent electronically, fill out <a href="img/ACH.pdf" target="_blank">this</a> form and bring it in at move in time or mail it two weeks in advance of your next rent-payment date.</p>
                </div>
                <div class="col-lg-4">
                    <p>For immediate response, please call our office at 763-521-4457, extension 0 (zero) for the operator, and your call will be addressed. For life-threatening emergencies please call 911 immediately.</p>
                </div>
            </div>
        </div>
    </section>
