{% include css/bootstrap.min.css %}
{% include css/main.css %}

.navbar {
  background-color: #000;
}
.navbar-default .navbar-toggle {
  border-color: #000;
}
header {
  color: #545F66;
}
.footer-above {
  background-color: #000;
}
#portfolio h2 {
  margin-bottom: 20px;
  color: #545F66;
}
#portfolio img {
  margin: auto;
}
section.success {
  color: #545F66;
}
.modal-body {
  color: #545F66;
}
.modal-body h2 {
  font-size: 32px !important;
}
.portfolio-modal .modal-content img {
  margin: 0 5px 30px;
  display: inline-block;
}
#contact {
  color: #545F66;
}
#contact h2 {
  margin-bottom: 20px;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #D7D9D7;
}
.floating-label-form-group {
  border-bottom: 1px solid #D7D9D7;
}
.btn-success {
  background-color: #545F66;
}
.btn-success:hover {
  background-color: #000;
}
.scroll-top .btn {
  color: #545F66;
}
.scroll-top .btn:hover {
  background-color: #fff;
  border: none;
}
