{% include css/bootstrap.min.css %}
{% include css/main.css %}

body {
  font-family: 'Raleway', sans-serif !important;
}
h2,
h3,
h4 {
  text-transform: none;
  font-family: 'Raleway', sans-serif !important;
}
section a {
  color: #000;
  text-decoration: underline;
}
a:hover {
  color: #b1892a;
}
a:visited {
  color: #b1892a;
}
.navbar {
  background-color: #000;

  font-family: 'Raleway', sans-serif;
}
.navbar-default .navbar-toggle {
  border-color: #000;
}
header {
  color: #545F66;
}
header .skills {
  font-weight: bold !important;
}
.footer-above {
  background-color: #000;
}
#portfolio h2 {
  margin-bottom: 20px;
  color: #545F66;
}
#portfolio img {
  margin: auto;
}
.portfolio-item {
  text-align: center;
}
section.success {
  color: #545F66;
}
.modal-body {
  color: #545F66;
}
.modal-body h1 {
  font-size: 44px !important;
  margin-bottom: 20px;
  text-transform: none;
}
.modal-body a {
  color: #545F66;
  text-decoration: underline;
}
.portfolio-modal .modal-content img {
  margin: 0 5px 30px;
  display: inline-block;
}
#about h2,
#apply h2,
#residents h2 {
  text-decoration: underline;
  margin-bottom: 20px;
}
#about,
#apply {
  padding-bottom: 0;
}
.approval {
  text-align: center;
}
#contact {
  color: #545F66;
}
#contact h2 {
  margin-bottom: 20px;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #D7D9D7;
}
.floating-label-form-group {
  border-bottom: 1px solid #D7D9D7;
}
.btn-success {
  background-color: #545F66;
}
.btn-success:hover {
  background-color: #000;
}
.scroll-top .btn {
  color: #545F66;
}
.scroll-top .btn:hover {
  background-color: #fff;
  border: none;
}
.info-body p {
  text-align: left !important;
}
.center {
  text-align: center;;
}
#coupon-modal .modal-body {
  border: 1px dashed black;
}
#coupon {
  text-align: center;
}
